{% comment %} 여기를 부트스트랩에서 좌측으로 꾸미는 것 하기 {% endcomment %}
<div>
    <a href="/select_moim/"><button>모임선택</button></a>
    <a href="/write/"><button>모임설명</button></a>
    <a href="/write/free/{{make_moim.make_id}}/"><button>자유게시판</button></a>
    <a href="/write/join/{{make_moim.make_id}}/"><button>가입인사</button></a>
    <a href="/write/gallery/{{make_moim.make_id}}/"><button>갤러리</button></a>
    <div class="text-end">
        {% if request.session.info_id %}
          <a href="/logout"><button type="button" class="btn btn-outline-light me-2">로그아웃</button></a>
        {% else %}
        <a href="/login"><button type="button" class="btn btn-outline-light me-2">로그인</button></a>
        {% endif %}
        <a href="/signup"><button type="button" class="btn btn-outline-warning me-2">회원가입</button></a>
    </div>
</div>