  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">모임모임</span>
      </a>
      <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
    </div><!-- End Logo -->

    {% include 'search_bar.html' %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <!-- End Search Icon -->
    <nav id="navbar" class="navbar"><!--네비게이션 바-->
      <ul>
        <li><a class="nav-link scrollto active" aria-current="page" style="" href="/">Home</a></li>
        {% if request.session.info_id %}
        <li class="dropdown"><a href="#"><span class="nav-link">모임</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link" href="/make_moim/">모임 만들기</a></li>
              <li><a class="nav-link" href="/select_moim/">모임 참석하기</a></li>
              <li><a class="nav-link" href="/board_moim/list/">모임 찾기</a></li>
            </ul>
            {% else %}
            
            <li><a class="nav-link" href="/board_moim/list/">모임 찾기</a></li>
            {% endif %}
            <!-- End Profile Dropdown Items -->
            <!-- <li><a class="nav-link " href="/write/gallery/">갤러리</a></li>
            <li><a class="nav-link " href="/write/free/">자유게시판</a></li> -->
            {% if request.session.info_id %}
            <li><a class="nav-link " href="/logout/">로그아웃</a></li>
            <li><a class="nav-link " href="/profile/{{request.session.info_id}}/">프로필변경</a></li>
            {% else %}
            <li><a class="nav-link " href="/login/">로그인</a></li>
            <li><a class="nav-link " href="/signup/">회원가입</a></li>
            {% endif %}
            
              
        <!-- End Profile Nav -->
        </li>
      </ul>
    </nav><!-- End Icons Navigation -->

  </header>
<!-- End Header -->

