 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/select_moim/{{make_moim.make_id}}">
          <span>가입한 모임 보기</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/write/gallery/{{make_moim.make_id}}/">
          <span>갤러리</span>
        </a>
      </li>

        <li class="nav-item">
          <a class="nav-link " href="/write/free/{{make_moim.make_id}}/">
            <span>자유게시판</span>
          </a>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/write/join/{{make_moim.make_id}}/">
          <span>가입인사</span>
        </a>
      </li><!-- End Tables Nav -->
    </ul>

  </aside>
<!-- End Sidebar-->